 /*
 * AdSubtract.css
 *
 * http://code.google.com/p/adsubtract/
 */
 
/* This file started as a set of personal modifications of CSS files
 * available at:
 * http://www.floppymoose.com
 * http://www.gozer.org/mozilla/ad_blocking/
 *
 * This file will be updated monthly based upon submissions from users like you.
 * Most of the CSS here will work on any browser.
 * Any browser-specific code will be optimized for the WebKit/KHTML
 * Rendering Engine.
 * Safari, Konqueror, OmniWeb, and Shiira are just some of the browsers that use
 * WebKit/KHTML to render pages.
 */
 
/* ----- A:LINK HREF ----- */
 a:link[href*="microsoftaffiliates"] {visibility: hidden ! important} /* microsoft */
 A:link[HREF*="cpaclicks"] IMG {visibility: hidden ! important} /* cpaclicks.com */
 A:link[HREF*="javascript:void"] IMG {visibility: hidden ! important}
 A:link[HREF*="addata"] IMG {visibility: hidden ! important}
 A:link[HREF*="ad."] IMG {visibility: hidden ! important}
 A:link[HREF*="ads."] IMG {visibility: hidden ! important}
 A:link[HREF*="/ad"] IMG {visibility: hidden ! important}
 A:link[HREF*="/A="] IMG {visibility: hidden ! important}
 A:link[HREF*="/click"] IMG {visibility: hidden ! important}
 A:link[HREF*="?click"] IMG {visibility: hidden ! important}
 A:link[HREF*="?banner"] IMG {visibility: hidden ! important}
 A:link[HREF*="=click"] IMG {visibility: hidden ! important}
 A:link[HREF*="clickurl="] IMG {visibility: hidden ! important}
 A:link[HREF*=".atwola."] IMG {visibility: hidden ! important}
 A:link[HREF*="spinbox."] IMG {visibility: hidden ! important}
 A:link[HREF*="transfer.go"] IMG {visibility: hidden ! important}
 A:link[HREF*="adfarm"] IMG {visibility: hidden ! important}
 A:link[HREF*="adSpace"] IMG {visibility: hidden ! important}
 A:link[HREF*="adserve"] IMG {visibility: hidden ! important}
 A:link[HREF*=".banner"] IMG {visibility: hidden ! important}
 A:link[HREF*="bluestreak"] IMG {visibility: hidden ! important}
 A:link[HREF*="doubleclick"] IMG {visibility: hidden ! important}
 A:link[HREF*="/rd."] IMG {visibility: hidden ! important}
 A:link[HREF*="/0AD"] IMG {visibility: hidden ! important}
 A:link[HREF*=".falkag."] IMG {visibility: hidden ! important}
 A:link[HREF*="trackoffer."] IMG {visibility: hidden ! important}
 A:link[HREF*="casalemedia."] IMG {visibility: hidden ! important}
 A:link[HREF*="valueclick."] IMG {visibility: hidden ! important}
 A:link[HREF*="betterbasketball."] IMG {visibility: hidden ! important}
 A:link[HREF*="sponsors.phtml"] IMG {visibility: hidden ! important}
 A:link[HREF*="realgmtix.phtml"] IMG {visibility: hidden ! important}
 A:link[HREF*="BurstingPipe"] IMG {visibility: hidden ! important}
 A:link[HREF*="ebayobjects"] IMG {visibility: hidden ! important}
 A:link[HREF*="tracksponsor."] IMG {visibility: hidden ! important}
 A:link[HREF*="googlesyndication"] OBJECT {visibility: hidden ! important} /* google */
 a:link[href*="googlesyndication"] {visibility: hidden ! important} /* google */
 a:link[href*="services.google.com"] {visibility: hidden ! important} /* google */
 a:link[href*="ads."] {visibility: hidden ! important}
 a:link[href*="targetpoint"] {visibility: hidden ! important}
 a:link[href*="backbeatmedia"] {visibility: hidden ! important} /* backbeatmedia */
 
/* ----- A:LINK ONMOUSEOVER ----- */
 A:link[onmouseover*="AdSolution"] IMG {visibility: hidden ! important}
 
/* ----- IFRAME SRC ----- */
 IFRAME[SRC*="addata"] {visibility: hidden ! important}
 IFRAME[SRC*="ad."] {visibility: hidden ! important}
 IFRAME[SRC*="ads."] {visibility: hidden ! important}
 IFRAME[SRC*="/ad"] {visibility: hidden ! important}
 IFRAME[SRC*="/A="] {visibility: hidden ! important}
 IFRAME[SRC*="/click"] {visibility: hidden ! important}
 IFRAME[SRC*="?click"] {visibility: hidden ! important}
 IFRAME[SRC*="?banner"] {visibility: hidden ! important}
 IFRAME[SRC*="=click"] {visibility: hidden ! important}
 IFRAME[SRC*="clickurl="] {visibility: hidden ! important}
 IFRAME[SRC*=".atwola."] {visibility: hidden ! important}
 IFRAME[SRC*="spinbox."] {visibility: hidden ! important}
 IFRAME[SRC*="transfer.go"] {visibility: hidden ! important}
 IFRAME[SRC*="adfarm"] {visibility: hidden ! important}
 IFRAME[SRC*="adSpace"] {visibility: hidden ! important}
 IFRAME[SRC*="adserve"] {visibility: hidden ! important}
 IFRAME[SRC*="adjuggler"] {visibility: hidden ! important}
 IFRAME[SRC*=".banner"] {visibility: hidden ! important}
 IFRAME[SRC*="bluestreak"] {visibility: hidden ! important}
 IFRAME[SRC*="doubleclick"] {visibility: hidden ! important}
 IFRAME[SRC*="/rd."] {visibility: hidden ! important}
 IFRAME[SRC*="/0AD"] {visibility: hidden ! important}
 IFRAME[SRC*=".falkag."] {visibility: hidden ! important}
 IFRAME[SRC*="trackoffer."] {visibility: hidden ! important}
 IFRAME[SRC*="connextra."] {visibility: hidden ! important}
 IFRAME[ID*="merchandisingMERC"] {visibility: hidden ! important}
 IFRAME[SRC*="tracksponsor."] {visibility: hidden ! important}
 
/* ----- EMBED SRC ----- */
 embed[src*="banners"] {visibility: hidden ! important}
 

/* ----- TABLE ID ----- */
 table[id*="subform"] {visibility: hidden ! important} /* macworld */

/* ----- TABLE CLASS ----- */
 table[class*="mgfoot"] {visibility: hidden ! important}
 
/* ----- TD CLASS ----- */
 td[class*="AdColumn"] {visibility: hidden ! important} /* flickr */
 td[class*="tds"] {visibility: hidden ! important}
 td[class*="footsponsor"] {visibility: hidden ! important}
 td[class*="hmvertline"] {visibility: hidden ! important}
 
/* ----- DIV ONCLICK ----- */
 div[onclick*="clickthrough.cgi"] {visibility: hidden ! important} /* new york post */
 
/* ----- DIV CLASS ----- */
 div[class*="_admodule"] {visibility: hidden ! important} /* aol */
 div[class*="adcontainer"] {visibility: hidden ! important}
 div[class*="fifthN"] {visibility: hidden ! important}
 div[class*="footbot"] {visibility: hidden ! important}
 div[class*="WatermarkedPromo"] {visibility: hidden ! important}
 div[class*="HeadedBox"] {visibility: hidden ! important}
 div[class*="TextAd"] {visibility: hidden ! important}
 div[class*="ad1"] {visibility: hidden ! important} /* slashdot */
 div[class*="ad2"] {visibility: hidden ! important} /* slashdot */
 div[class*="ad6"] {visibility: hidden ! important} /* slashdot */
 div[class*="spons"] {visibility: hidden ! important}
 div[class*="zc-"] {visibility: visible ! important} /* zap2it.com */
 div[class*="ljadleaderboard"] {visibility: hidden ! important} /* livejournal */
 div[class*="piclist"] {visibility: hidden ! important}
 div[class*="moduletable-island"] {visibility: hidden ! important}
 div[class*="google"] {visibility: hidden ! important} /* google */
 div[class*="googlelinkback"] {visibility: hidden ! important} /* google */
 div[class*="dl-cdr-bd-ad"] {visibility: hidden ! important} /* download.com */
 div[class*="subsArea"] {visibility: hidden ! important} /* pcworld.com */
 div[class*="adMkt2Colw"] {visibility: hidden ! important} /* pcworld.com */ 

/* Added by Web-JIVE  Some are unidentified but valid for Mac sites. I'll do a better job documenting */ 
div[class*="mpu"]{visibility: hidden ! important} /* kill ads in cnet */ 
div[class*="skyscraper"]{visibility: hidden ! important}        /* a lot of site use this tag! */ 
div[class*="bottomleader"]{visibility: hidden ! important}    /* one of the popular apple sites */ 
div[class*="lrec"]{visibility: hidden ! important}    /* one of the popular apple sites */ 
div[class*="leaderboard"]{visibility: hidden ! important}    /* one of the popular apple sites */ 
div[class*="news_sidedoor_promo"]{visibility: hidden ! important}    /* one of the popular apple sites */ 
div[class*="sidebodnarrow2"]{visibility: hidden ! important}       /* one of the popular apple sites */  
div[class*="sidebotnarrow2"]{visibility: hidden ! important}        /* one of the popular apple sites */ 
div[class*= "main_adbox"]{visibility: hidden ! important} /* Apple Insider ad */ 
div[class*="mpu"]{visibility: hidden ! important} /* kill ads in cnet */ 
div[class*="showcaseAd adGrayMed"] {visibility: hidden ! important} /* pcworld.com */
div[class*="areaBanner"] {visibility: hidden ! important} /* pcworld.com */
div[class*="printHide"] {visibility: hidden ! important} /* pcworld.com */
div[class*="adYsm2Colw"] {visibility: hidden ! important} /* pcworld.com */
div[class*="halfpageAd adGrayMed"] {visibility: hidden ! important} /* pcworld.com */

/* ----- DIV ID ----- */
div[id*="myAd_pva"] {visibility: hidden ! important} /* youtube */
div[id*="ovadsense"] {visibility: hidden ! important} /* overture ads */
 div[id*="divSubAd"] {visibility: hidden ! important} /* writersdigest */
 div[id*="MidArticleAd"] {visibility: hidden ! important}
 div[id*="supportbod"] {visibility: hidden ! important} /* macnn */
 div[id*="bwbox"] {visibility: hidden ! important} /* download.com */
 div[id*="RelatedBox"] {visibility: hidden ! important}
 div[id*="topBannerSpot"] {visibility: hidden ! important}
 div[id*="skyscraper"] {visibility: hidden ! important}
 div[id*="billboard_ad"] {visibility: hidden ! important}
 div[id*="widgetContainer"] {visibility: hidden ! important}
 div[id*="promoWidget"] {visibility: hidden ! important}
 div[id*="miniWidget"] {visibility: hidden ! important}
 div[id*="module-mktg"] {visibility: hidden ! important} /* versiontracker */
 div[id*="leaderboard"] {visibility: hidden ! important} /* versiontracker */
 div[id*="box-ad"] {visibility: hidden ! important} /* versiontracker */
 div[id*="promoSidebar"] {visibility: hidden ! important} /* macupdate */
 div[id*="adframe"] {visibility: hidden ! important}
 div[id*="adbatch"] {visibility: hidden ! important}
 div[id*="MidAdInView"] {visibility: hidden ! important} /* fvx */
 div[id*="AdSpace"] {visibility: hidden ! important} /* torrentspy */
 div[id*="dropin"] {visibility: hidden ! important} /* tek-tips */
 div[id*="flad-"] {visibility: hidden ! important} /* ecommercetimes */
 

/* Added by Web-JIVE  Some are unidentified but valid for Mac sites. I'll do a better job documenting */ 
div[id*="northbanner"]{visibility: hidden ! important} /* yahoo banner */ 
div[id*="miniWidget"]{visibility: hidden ! important} /* widget ad on macupdate */ 
div[id*="widgetContainer"]{visibility: hidden ! important}/* kill ads on macupdate */ 
div[id*="topMPU"]{visibility: hidden ! important} /* kill ads in cnet */ 
div[id*="dhtmlbanner"]{visibility: hidden ! important} /* kill floating dhtml banners on cnet */ 
div[id*="ymadbn"]{visibility: hidden ! important}        /* more yahoo ads, little buggers */ 
div[id*="aadbox"]{visibility: hidden ! important}        /* macupdate ads */ 
div[id*="block-apcninemsn-island-ad"]{visibility: hidden ! important}    /* misc. one that was bugging me */ 
div[id*="recad"]{visibility: hidden ! important}    /* misc. ad killer */ 
div[id*= "main_rec_ad"]{visibility: hidden ! important} /* Apple Insder ad */ 
div[id*= "main_rec_ad"] {visibility: hidden ! important} /* Apple Insder ad */
div[id*= "leaderboardAd"] {visibility: hidden ! important} /* Apple Insder ad */
div[id*="ssponsor"] {visibility: hidden ! important} /* facebook */
div[id*="nwad"] {visibility: hidden ! important} /* yahoo */
div[id*="swads"] {visibility: hidden ! important} /* yahoo */

/* ----- TD ID ----- */
 td[id*="ad_gutter"] {visibility: hidden ! important}
 
/* ----- A HREF ----- */
 a[href*="microsoftaffiliates"] img {visibility: hidden ! important} /* microsoft */
 a[href*="?adlink"] {visibility: hidden ! important} /* adtech */
 a[href*="googleadservices.com"] img {visibility: hidden ! important} /* google */
 a[href*="googlesyndication.com"] img {visibility: hidden ! important} /* google */
 a[href*="tryaol"] img {visibility: hidden ! important}
 a[href*="/adlog.pl"] img {visibility: hidden ! important}
 /*a[href*="/redirect"] img {visibility: hidden ! important}*/
 a[href*="/referral/"] img {visibility: hidden ! important}
 a[href*="/click.cgi"] img {visibility: hidden ! important}
 a[href*="/clickover"] img {visibility: hidden ! important}
 a[href*="/clickthr"] img {visibility: hidden ! important}
 a[href*="us.i1.yimg.com"] img {visibility: hidden ! important}
 a[href*="a.consumer.net"] img {visibility: hidden ! important}
 a[href*="a.r.tv.com"] img {visibility: hidden ! important}
 a[href*="a.softpedia.com"] img {visibility: hidden ! important}
 a[href*="a.xanga.com"] img {visibility: hidden ! important}
 a[href*="a32.g.a.yimg.com"] img {visibility: hidden ! important}
 a[href*="ad.abcnews.com"] img {visibility: hidden ! important}
 a[href*="ad.abctv.com"] img {visibility: hidden ! important}
 a[href*="ad.about.com"] img {visibility: hidden ! important}
 a[href*="ad.asap-asp.net"] img {visibility: hidden ! important}
 a[href*="ad.disney.go.com"] img {visibility: hidden ! important}
 a[href*="ad.dvdforum.nu"] img {visibility: hidden ! important}
 a[href*="ad.howstuffworks.com"] img {visibility: hidden ! important}
 a[href*="ad.img.yahoo.co.kr"] img {visibility: hidden ! important}
 a[href*="ad.infoseek.com"] img {visibility: hidden ! important}
 a[href*="ad.isohunt.com"] img {visibility: hidden ! important}
 a[href*="ad.musicmatch.com"] img {visibility: hidden ! important}
 a[href*="ad.preferences.com"] img {visibility: hidden ! important}
 a[href*="ad.tomshardware.com"] img {visibility: hidden ! important}
 a[href*="ad.uol.com.br"] img {visibility: hidden ! important}
 a[href*="ad.usatoday.com"] img {visibility: hidden ! important}
 a[href*="ad.yourmedia.com"] img {visibility: hidden ! important}
 a[href*="ad1.emule-project.org"] img {visibility: hidden ! important}
 a[href*="ad1.outpost.com"] img {visibility: hidden ! important}
 a[href*="adbanner."] img {visibility: hidden ! important}
 a[href*="adbutler."] img {visibility: hidden ! important}
 a[href*="adclick."] img {visibility: hidden ! important}
 a[href*="adfarm.mediaplex.com"] img {visibility: hidden ! important}
 a[href*="adfly.com"] img {visibility: hidden ! important}
 a[href*="adimages."] img {visibility: hidden ! important}
 a[href*="adimg."] img {visibility: hidden ! important}
 a[href*="adireland.com"] img {visibility: hidden ! important}
 a[href*="adlog.com"] img {visibility: hidden ! important}
 a[href*="adq.nextag.com"] img {visibility: hidden ! important}
 a[href*="ads.advance.net"] img {visibility: hidden ! important}
 a[href*="ads.affiliates.match.com"] img {visibility: hidden ! important}
 a[href*="ads.allsites.com"] img {visibility: hidden ! important}
 a[href*="ads.amazingmedia.com"] img {visibility: hidden ! important}
 a[href*="ads.aol.com"] img {visibility: hidden ! important}
 a[href*="ads.bigfoot.com"] img {visibility: hidden ! important}
 a[href*="ads.cdfreaks.com"] img {visibility: hidden ! important}
 a[href*="ads.clearchannel.com"] img {visibility: hidden ! important}
 a[href*="ads.cnn.com"] img {visibility: hidden ! important}
 a[href*="ads.com.com"] img {visibility: hidden ! important}
 a[href*="ads.deviantart.com"] img {visibility: hidden ! important}
 a[href*="ads.discovery.com"] img {visibility: hidden ! important}
 a[href*="ads.eu.msn.com"] img {visibility: hidden ! important}
 a[href*="ads.eudora.com"] img {visibility: hidden ! important}
 a[href*="ads.ezboard.com"] img {visibility: hidden ! important}
 a[href*="ads.firingsquad.com"] img {visibility: hidden ! important}
 a[href*="ads.forbes."] img {visibility: hidden ! important}
 a[href*="ads.g4techtv.com"] img {visibility: hidden ! important}
 a[href*="ads.gamespy.com"] img {visibility: hidden ! important}
 a[href*="ads.gamespyid.com"] img {visibility: hidden ! important}
 a[href*="ads.guardian.co.uk"] img {visibility: hidden ! important}
 a[href*="ads.hollywood.com"] img {visibility: hidden ! important}
 a[href*="ads.icq.com"] img {visibility: hidden ! important}
 a[href*="ads.ign.com"] img {visibility: hidden ! important}
 a[href*="ads.imdb.com"] img {visibility: hidden ! important}
 a[href*="ads.img.co.za"] img {visibility: hidden ! important}
 a[href*="ads.indiatimes.com"] img {visibility: hidden ! important}
 a[href*="ads.infospace.com"] img {visibility: hidden ! important}
 a[href*="ads.iwon.com"] img {visibility: hidden ! important}
 a[href*="ads.linuxjournal.com"] img {visibility: hidden ! important}
 a[href*="ads.linuxquestions.org"] img {visibility: hidden ! important}
 a[href*="ads.lycos-europe.com"] img {visibility: hidden ! important}
 a[href*="ads.lycos.com"] img {visibility: hidden ! important}
 a[href*="ads.macupdate.com"] img {visibility: hidden ! important}
 a[href*="ads.mcafee.com"] img {visibility: hidden ! important}
 a[href*="ads.monster.com"] img {visibility: hidden ! important}
 a[href*="ads.msn.com"] img {visibility: hidden ! important}
 a[href*="ads.neowin.net"] img {visibility: hidden ! important}
 a[href*="ads.nypost.com"] img {visibility: hidden ! important}
 a[href*="ads.nytimes.com"] img {visibility: hidden ! important}
 a[href*="ads.osdn.com"] img {visibility: hidden ! important}
 a[href*="ads.osnews.com"] img {visibility: hidden ! important}
 a[href*="ads.phpclasses.org"] img {visibility: hidden ! important}
 a[href*="ads.rockstargames.com"] img {visibility: hidden ! important}
 a[href*="ads.rottentomatoes.com"] img {visibility: hidden ! important}
 a[href*="ads.scifi.com"] img {visibility: hidden ! important}
 a[href*="ads.simtel.net"] img {visibility: hidden ! important}
 a[href*="ads.space.com"] img {visibility: hidden ! important}
 a[href*="ads.stileproject.com"] img {visibility: hidden ! important}
 a[href*="ads.techtv.com"] img {visibility: hidden ! important}
 a[href*="ads.telegraph.co.uk"] img {visibility: hidden ! important}
 a[href*="ads.theglobeandmail.com"] img {visibility: hidden ! important}
 a[href*="ads.thestar.com"] img {visibility: hidden ! important}
 a[href*="ads.thestranger.com"] img {visibility: hidden ! important}
 a[href*="ads.tripod.com"] img {visibility: hidden ! important}
 a[href*="ads.tripod.lycos."] img {visibility: hidden ! important}
 a[href*="ads.usatoday.com"] img {visibility: hidden ! important}
 a[href*="ads.weather.com"] img {visibility: hidden ! important}
 a[href*="ads.web.aol.com"] img {visibility: hidden ! important}
 a[href*="ads.web.cs.com"] img {visibility: hidden ! important}
 a[href*="ads.web.de"] img {visibility: hidden ! important}
 a[href*="ads.winsite.com"] img {visibility: hidden ! important}
 a[href*="ads.wunderground.com"] img {visibility: hidden ! important}
 a[href*="ads.x10.com"] img {visibility: hidden ! important}
 a[href*="ads.x10.net"] img {visibility: hidden ! important}
 a[href*="ads.zdnet.com"] img {visibility: hidden ! important}
 a[href*="adserver."] img {visibility: hidden ! important}
 a[href*="advertising.com"] img {visibility: hidden ! important}
 a[href*="ar.atwola.com"] img {visibility: hidden ! important}
 a[href*="atdmt.com"] img {visibility: hidden ! important}
 a[href*="backbeatmedia.com"] img {visibility: hidden ! important}
 a[href*="banner.casino.net"] img {visibility: hidden ! important}
 a[href*="banner.img.co.za"] img {visibility: hidden ! important}
 a[href*="banner.penguin.cz"] img {visibility: hidden ! important}
 a[href*="bannermania.nom.pl"] img {visibility: hidden ! important}
 a[href*="banners.dot.tk"] img {visibility: hidden ! important}
 a[href*="banners.ebay.com"] img {visibility: hidden ! important}
 a[href*="banners.friendfinder.com"] img {visibility: hidden ! important}
 a[href*="banners.netcraft.com"] img {visibility: hidden ! important}
 a[href*="banners.wunderground.com"] img {visibility: hidden ! important}
 a[href*="bannerserver.gator.com"] img {visibility: hidden ! important}
 a[href*="bfast.com"] img {visibility: hidden ! important}
 a[href*="bluestreak.com"] img {visibility: hidden ! important}
 a[href*="bs00"][href*=".gmx.net"] img {visibility: hidden ! important}
 a[href*="c1.zedo.com"] img {visibility: hidden ! important}
 a[href*="cash4banner.com"] img {visibility: hidden ! important}
 a[href*="cdn.eyewonder.com"] img {visibility: hidden ! important}
 a[href*="claria.com"] img {visibility: hidden ! important}
 a[href*="clickbank.com"] img {visibility: hidden ! important}
 a[href*="clickbank.net"] img {visibility: hidden ! important}
 a[href*="counter.webtrends.net"] img {visibility: hidden ! important}
 a[href*="crazypopups.com"] img {visibility: hidden ! important}
 a[href*="cydoor.com"] img {visibility: hidden ! important}
 a[href*="doubleclick."] img {visibility: hidden ! important}
 a[href*="eur.a1.yimg.com"] img {visibility: hidden ! important}
 a[href*="fastclick."] img {visibility: hidden ! important}
 a[href*="gator.com"] img {visibility: hidden ! important}
 a[href*="hit-now.com"] img {visibility: hidden ! important}
 a[href*="hitbox.com"] img {visibility: hidden ! important}
 a[href*="industrybrains.com"] img {visibility: hidden ! important}
 a[href*="kontera.com"] img {visibility: hidden ! important}
 a[href*="link4ads.com"] img {visibility: hidden ! important}
 a[href*="linkexchange."] img {visibility: hidden ! important}
 a[href*="logging.to"] img {visibility: hidden ! important}
 a[href*="mediaplex.com"] img {visibility: hidden ! important}
 a[href*="nedstatbasic.net"] img {visibility: hidden ! important}
 a[href*="oas.salon.com"] img {visibility: hidden ! important}
 a[href*="paycounter.com"] img {visibility: hidden ! important}
 a[href*="popupad.net"] img {visibility: hidden ! important}
 a[href*="qkimg.net"] img {visibility: hidden ! important}
 a[href*="qksrv.net"] img {visibility: hidden ! important}
 a[href*="rcm-images.amazon.com"] img {visibility: hidden ! important}
 a[href*="rcm.amazon.com"] img {visibility: hidden ! important}
 a[href*="realmedia.com"] img {visibility: hidden ! important}
 a[href*="rightmedia.net"] img {visibility: hidden ! important}
 a[href*="s1.amazon.com"] img {visibility: hidden ! important}
 a[href*="servedby."] img {visibility: hidden ! important}
 a[href*="serving-sys.com"] img {visibility: hidden ! important}
 a[href*="sexcounter.com"] img {visibility: hidden ! important}
 a[href*="sextracker.com"] img {visibility: hidden ! important}
 a[href*="smartclicks.net"] img {visibility: hidden ! important}
 a[href*="spinbox."] img {visibility: hidden ! important}
 a[href*="tradedoubler.com"] img {visibility: hidden ! important}
 a[href*="traffic-exchange.com"] img {visibility: hidden ! important}
 a[href*="transfer.go"] img {visibility: hidden ! important}
 a[href*="tribalfusion.com"] img {visibility: hidden ! important}
 a[href*="ukaffiliates2.com"] img {visibility: hidden ! important}
 a[href*="us.a1.yimg.com"] img {visibility: hidden ! important}
 a[href*="valueclick."] img {visibility: hidden ! important}
 a[href*="webads.bizservers.com"] img {visibility: hidden ! important}
 a[href*="webads.co.nz"] img {visibility: hidden ! important}
 a[href*="webstat."] img {visibility: hidden ! important}
 a[href*="webtrendslive.com"] img {visibility: hidden ! important}
 a[href*="_ad_"] img {visibility: hidden ! important}
 a[href*="_ad."] img {visibility: hidden ! important}
 a[href*="_ad/"] img {visibility: hidden ! important}
 a[href*="-ad-"] img {visibility: hidden ! important}
 a[href*="?ad"] img {visibility: hidden ! important}
 a[href*="?banner"] img {visibility: hidden ! important}
 a[href*="?click"] img {visibility: hidden ! important}
 a[href*="/A="] img {visibility: hidden ! important}
 a[href*="/ad_"] img {visibility: hidden ! important}
 a[href*="/ad-"] img {visibility: hidden ! important}
 a[href*="/ad."] img {visibility: hidden ! important}
 a[href*="/ad/"] img {visibility: hidden ! important}
 a[href*="/ads"] img {visibility: hidden ! important}
 a[href*="/adv"] img {visibility: hidden ! important}
 a[href*="/adx"] img {visibility: hidden ! important}
 a[href*="/banner"] img {visibility: hidden ! important}
 a[href*="/click-"] img {visibility: hidden ! important}
 a[href*="/jump/"] img {visibility: hidden ! important}
 a[href*="=click"] img {visibility: hidden ! important}
 a[href*="adframe"] img {visibility: hidden ! important}
 a[href*="advert"] img {visibility: hidden ! important}
 a[href*="banman"] img {visibility: hidden ! important}
 a[href*="bannerman"] img {visibility: hidden ! important}
 a[href*="banners."] img {visibility: hidden ! important}
 a[href*="click_"] img {visibility: hidden ! important}
 a[href*="interCLICK"] img {visibility: hidden ! important}
 a[href*="roia.biz"] img {visibility: hidden ! important}
 
/* ----- A IMG SRC ----- */
a img[src*="affiliates."] {visibility: hidden ! important}
a img[src*="/affiliates/"] {visibility: hidden ! important}
 a img[src*="/creatives/"] {visibility: hidden ! important}
 a img[src*="/marketing/"] {visibility: hidden ! important}
 /*a img[src*="/offer"] {visibility: hidden ! important}*/
 a img[src*="/puffboxes/"] {visibility: hidden ! important}
 a img[src*="/sponsors/"] {visibility: hidden ! important}
 a img[src*="120x60"] {visibility: hidden ! important}
 a img[src*="120x80"] {visibility: hidden ! important}
 a img[src*="140x"] {visibility: hidden ! important}
 a img[src*="kotaku"] {visibility: visible ! important} /* kotaku.com */
 a img[src*="468x60"] {visibility: hidden ! important}
 a img[src*="_sponsor_"] {visibility: hidden ! important}
 a img[src*=".travelocity./Sponsor_gifs/"] {visibility: hidden ! important}
 a img[src*="pic.geocities.com/images/"] {visibility: hidden ! important}
 a img[src*="/us.yimg.com/a/ya"] {visibility: hidden ! important}
 a img[src*="/publicidad/"] {visibility: hidden ! important}
 a img[src*="public"][src*="ad"] {visibility: hidden ! important}
 a img[src*="klipmart"] {visibility: hidden ! important}
a img[src*="/ads/adstream_"] {visibility: hidden !important} /* earthweb */
a img[src*="kermit.macnn"] {visibility: hidden !important} /* macnn */

/* ----- * SRC ----- */
 *[src*="googleadservices.com"] {visibility: hidden ! important} /* google */
 *[src*="googlesyndication.com"] {visibility: hidden ! important} /* google */
 *[src*="a.consumer.net"] {visibility: hidden ! important}
 *[src*="adlog"] {visibility: hidden ! important}
 *[src*="a.r.tv.com"] {visibility: hidden ! important}
 *[src*="a.softpedia.com"] {visibility: hidden ! important}
 *[src*="a.xanga.com"] {visibility: hidden ! important}
 *[src*="a32.g.a.yimg.com"] {visibility: hidden ! important}
 *[src*="ad.abcnews.com"] {visibility: hidden ! important}
 *[src*="ad.abctv.com"] {visibility: hidden ! important}
 *[src*="ad.about.com"] {visibility: hidden ! important}
 *[src*="ad.asap-asp.net"] {visibility: hidden ! important}
 *[src*="ad.disney.go.com"] {visibility: hidden ! important}
 *[src*="ad.dvdforum.nu"] {visibility: hidden ! important}
 *[src*="ad.howstuffworks.com"] {visibility: hidden ! important}
 *[src*="ad.img.yahoo.co.kr"] {visibility: hidden ! important}
 *[src*="ad.infoseek.com"] {visibility: hidden ! important}
 *[src*="ad.isohunt.com"] {visibility: hidden ! important}
 *[src*="ad.musicmatch.com"] {visibility: hidden ! important}
 *[src*="ad.preferences.com"] {visibility: hidden ! important}
 *[src*="ad.tomshardware.com"] {visibility: hidden ! important}
 /* *[src*="ad.uol.com.br"] {visibility: hidden ! important} */
 *[src*="ad.usatoday.com"] {visibility: hidden ! important}
 *[src*="ad.yourmedia.com"] {visibility: hidden ! important}
 *[src*="ad1.emule-project.org"] {visibility: hidden ! important}
 *[src*="ad1.outpost.com"] {visibility: hidden ! important}
 *[src*="adbanner."] {visibility: hidden ! important}
 *[src*="adbutler."] {visibility: hidden ! important}
 *[src*="adclick."] {visibility: hidden ! important}
 *[src*="adfarm.mediaplex.com"] {visibility: hidden ! important}
 *[src*="adfly.com"] {visibility: hidden ! important}
 *[src*="adimages."] {visibility: hidden ! important}
 *[src*="adimg."] {visibility: hidden ! important}
 *[src*="adireland.com"] {visibility: hidden ! important}
 *[src*="adlog.com"] {visibility: hidden ! important}
 *[src*="adq.nextag.com"] {visibility: hidden ! important}
 *[src*="ads.advance.net"] {visibility: hidden ! important}
 *[src*="ads.affiliates.match.com"] {visibility: hidden ! important}
 *[src*="ads.allsites.com"] {visibility: hidden ! important}
 *[src*="ads.amazingmedia.com"] {visibility: hidden ! important}
 *[src*="ads.aol.com"] {visibility: hidden ! important}
 *[src*="ads.bigfoot.com"] {visibility: hidden ! important}
 *[src*="ads.cdfreaks.com"] {visibility: hidden ! important}
 *[src*="ads.clearchannel.com"] {visibility: hidden ! important}
 *[src*="ads.cnn.com"] {visibility: hidden ! important}
 *[src*="ads.com.com"] {visibility: hidden ! important}
 *[src*="ads.deviantart.com"] {visibility: hidden ! important}
 *[src*="ads.discovery.com"] {visibility: hidden ! important}
 *[src*="ads.eu.msn.com"] {visibility: hidden ! important}
 *[src*="ads.eudora.com"] {visibility: hidden ! important}
 *[src*="ads.ezboard.com"] {visibility: hidden ! important}
 *[src*="ads.firingsquad.com"] {visibility: hidden ! important}
 *[src*="ads.forbes."] {visibility: hidden ! important}
 *[src*="ads.g4techtv.com"] {visibility: hidden ! important}
 *[src*="ads.gamespy.com"] {visibility: hidden ! important}
 *[src*="ads.gamespyid.com"] {visibility: hidden ! important}
 *[src*="ads.guardian.co.uk"] {visibility: hidden ! important}
 *[src*="ads.hollywood.com"] {visibility: hidden ! important}
 *[src*="ads.icq.com"] {visibility: hidden ! important}
 *[src*="ads.ign.com"] {visibility: hidden ! important}
 *[src*="ads.imdb.com"] {visibility: hidden ! important}
 *[src*="ads.img.co.za"] {visibility: hidden ! important}
 *[src*="ads.indiatimes.com"] {visibility: hidden ! important}
 *[src*="ads.infospace.com"] {visibility: hidden ! important}
 *[src*="ads.iwon.com"] {visibility: hidden ! important}
 *[src*="ads.linuxjournal.com"] {visibility: hidden ! important}
 *[src*="ads.linuxquestions.org"] {visibility: hidden ! important}
 *[src*="ads.lycos-europe.com"] {visibility: hidden ! important}
 *[src*="ads.lycos.com"] {visibility: hidden ! important}
 *[src*="ads.macupdate.com"] {visibility: hidden ! important}
 *[src*="ads.mcafee.com"] {visibility: hidden ! important}
 *[src*="ads.monster.com"] {visibility: hidden ! important}
 *[src*="ads.msn.com"] {visibility: hidden ! important}
 *[src*="ads.neowin.net"] {visibility: hidden ! important}
 *[src*="ads.nypost.com"] {visibility: hidden ! important}
 *[src*="ads.nytimes.com"] {visibility: hidden ! important}
 *[src*="ads.osdn.com"] {visibility: hidden ! important}
 *[src*="ads.osnews.com"] {visibility: hidden ! important}
 *[src*="ads.phpclasses.org"] {visibility: hidden ! important}
 *[src*="ads.rockstargames.com"] {visibility: hidden ! important}
 *[src*="ads.rottentomatoes.com"] {visibility: hidden ! important}
 *[src*="ads.scifi.com"] {visibility: hidden ! important}
 *[src*="ads.simtel.net"] {visibility: hidden ! important}
 *[src*="ads.space.com"] {visibility: hidden ! important}
 *[src*="ads.stileproject.com"] {visibility: hidden ! important}
 *[src*="ads.techtv.com"] {visibility: hidden ! important}
 *[src*="ads.telegraph.co.uk"] {visibility: hidden ! important}
 *[src*="ads.theglobeandmail.com"] {visibility: hidden ! important}
 *[src*="ads.thestar.com"] {visibility: hidden ! important}
 *[src*="ads.thestranger.com"] {visibility: hidden ! important}
 *[src*="ads.tripod.com"] {visibility: hidden ! important}
 *[src*="ads.tripod.lycos."] {visibility: hidden ! important}
 *[src*="ads.usatoday.com"] {visibility: hidden ! important}
 *[src*="ads.weather.com"] {visibility: hidden ! important}
 *[src*="ads.web.aol.com"] {visibility: hidden ! important}
 *[src*="ads.web.cs.com"] {visibility: hidden ! important}
 *[src*="ads.web.de"] {visibility: hidden ! important}
 *[src*="ads.winsite.com"] {visibility: hidden ! important}
 *[src*="ads.wunderground.com"] {visibility: hidden ! important}
 *[src*="ads.x10.com"] {visibility: hidden ! important}
 *[src*="ads.x10.net"] {visibility: hidden ! important}
 *[src*="ads.zdnet.com"] {visibility: hidden ! important}
 *[src*="adserver."] {visibility: hidden ! important}
 *[src*="advertising.com"] {visibility: hidden ! important}
 *[src*="ar.atwola.com"] {visibility: hidden ! important}
 *[src*="atdmt.com"] {visibility: hidden ! important}
 *[src*="backbeatmedia.com"] {visibility: hidden ! important}
 *[src*="banner.casino.net"] {visibility: hidden ! important}
 *[src*="banner.img.co.za"] {visibility: hidden ! important}
 *[src*="banner.penguin.cz"] {visibility: hidden ! important}
 *[src*="bannermania.nom.pl"] {visibility: hidden ! important}
 *[src*="banners.dot.tk"] {visibility: hidden ! important}
 *[src*="banners.ebay.com"] {visibility: hidden ! important}
 *[src*="banners.friendfinder.com"] {visibility: hidden ! important}
 *[src*="banners.netcraft.com"] {visibility: hidden ! important}
 *[src*="banners.wunderground.com"] {visibility: hidden ! important}
 *[src*="bannerserver.gator.com"] {visibility: hidden ! important}
 *[src*="bfast.com"] {visibility: hidden ! important}
 *[src*="bluestreak.com"] {visibility: hidden ! important}
 *[src*="bs00"][src*=".gmx.net"] {visibility: hidden ! important}
 *[src*="c1.zedo.com"] {visibility: hidden ! important}
 *[src*="cash4banner.com"] {visibility: hidden ! important}
 *[src*="cdn.eyewonder.com"] {visibility: hidden ! important}
 *[src*="claria.com"] {visibility: hidden ! important}
 *[src*="clickbank.com"] {visibility: hidden ! important}
 *[src*="clickbank.net"] {visibility: hidden ! important}
 *[src*="counter.webtrends.net"] {visibility: hidden ! important}
 *[src*="crazypopups.com"] {visibility: hidden ! important}
 *[src*="cydoor.com"] {visibility: hidden ! important}
 *[src*="doubleclick."] {visibility: hidden ! important}
 *[src*="eur.a1.yimg.com"] {visibility: hidden ! important}
 *[src*="fastclick."] {visibility: hidden ! important}
 *[src*="gator.com"] {visibility: hidden ! important}
 *[src*="hit-now.com"] {visibility: hidden ! important}
 *[src*="hitbox.com"] {visibility: hidden ! important}
 /* *[src*="industrybrains.com"] {visibility: hidden ! important} */
 *[src*="kontera.com"] {visibility: hidden ! important}
 *[src*="link4ads.com"] {visibility: hidden ! important}
 *[src*="linkexchange."] {visibility: hidden ! important}
 *[src*="logging.to"] {visibility: hidden ! important}
 *[src*="mediaplex.com"] {visibility: hidden ! important}
 *[src*="nedstatbasic.net"] {visibility: hidden ! important}
 *[src*="oas.salon.com"] {visibility: hidden ! important}
 *[src*="paycounter.com"] {visibility: hidden ! important}
 *[src*="popupad.net"] {visibility: hidden ! important}
 *[src*="qkimg.net"] {visibility: hidden ! important}
 *[src*="qksrv.net"] {visibility: hidden ! important}
 *[src*="rcm-images.amazon.com"] {visibility: hidden ! important}
 *[src*="rcm.amazon.com"] {visibility: hidden ! important}
 *[src*="realmedia.com"] {visibility: hidden ! important}
 *[src*="rightmedia.net"] {visibility: hidden ! important}
 *[src*="s1.amazon.com"] {visibility: hidden ! important}
 *[src*="servedby."] {visibility: hidden ! important}
 *[src*="serving-sys.com"] {visibility: hidden ! important}
 *[src*="sexcounter.com"] {visibility: hidden ! important}
 *[src*="sextracker.com"] {visibility: hidden ! important}
 *[src*="smartclicks.net"] {visibility: hidden ! important}
 *[src*="spinbox."] {visibility: hidden ! important}
 *[src*="tradedoubler.com"] {visibility: hidden ! important}
 *[src*="traffic-exchange.com"] {visibility: hidden ! important}
 *[src*="transfer.go"] {visibility: hidden ! important}
 *[src*="tribalfusion.com"] {visibility: hidden ! important}
 *[src*="ukaffiliates2.com"] {visibility: hidden ! important}
 *[src*="us.a1.yimg.com"] {visibility: hidden ! important}
 *[src*="us.i1.yimg.com"] {visibility: hidden ! important}
 *[src*="valueclick."] {visibility: hidden ! important}
 *[src*="webads.bizservers.com"] {visibility: hidden ! important}
 *[src*="webads.co.nz"] {visibility: hidden ! important}
 *[src*="webstat."] {visibility: hidden ! important}
 *[src*="webtrendslive.com"] {visibility: hidden ! important}
 *[src*="backbeatmedia"] {visibility: hidden ! important}
 *[src*="images/ads"] {visibility: hidden ! important}
 *[src*="_ad_"] {visibility: hidden ! important}
 *[src*="_ad."] {visibility: hidden ! important}
 *[src*="_ad/"] {visibility: hidden ! important}
 *[src*="-ad-"] {visibility: hidden ! important}
 *[src*="?ad"] {visibility: hidden ! important}
 *[src*="?banner"] {visibility: hidden ! important}
 *[src*="?click"] {visibility: hidden ! important}
 *[src*="/A="] {visibility: hidden ! important}
 *[src*="/ad_"] {visibility: hidden ! important}
 *[src*="/ad-"] {visibility: hidden ! important}
 *[src*="/ad."] {visibility: hidden ! important}
 *[src*="/ad/"] {visibility: hidden ! important}
 *[src*="/ads"] {visibility: hidden ! important}
 *[src*="/adv"] {visibility: hidden ! important}
 *[src*="/adx"] {visibility: hidden ! important}
 *[src*="/banner"] {visibility: hidden ! important}
 *[src*="/jump/"] {visibility: hidden ! important}
 *[src*="=click"] {visibility: hidden ! important}
 *[src*="adframe"] {visibility: hidden ! important}
 *[src*="advert"] {visibility: hidden ! important}
 *[src*="banman"] {visibility: hidden ! important}
 *[src*="bannerman"] {visibility: hidden ! important}
 *[src*="banners."] {visibility: hidden ! important}
 *[src*="click_"] {visibility: hidden ! important}
 
/* ----- * CLASS ----- */
*[class="sponsored"] {visibility: hidden !important} /* endgadget */
*[class=sponsors] {visibility: hidden ! important}
 *[class=sp_links] {visibility: hidden ! important}
 *[class=advertising] {visibility: hidden ! important}
 *[class*="ad_slug"] {visibility: hidden ! important}
 
/* ----- * ID ----- */
 *[ID=sponsors] {visibility: hidden ! important}
 *[ID=ad] {visibility: hidden ! important}
 *[ID=inlinead] {visibility: hidden ! important}
 *[ID=ad_creative] {visibility: hidden ! important}
 *[ID=contextualLinks] {visibility: hidden ! important}
 
/* ----- * HREF ----- */
 *[href*="adultfriendfinder"] {visibility: hidden ! important}
 *[href*="/click-"] {visibility: hidden ! important}
 
/* ----- DIV SRC ----- */
 div[src*="googlesyndication"] {visibility: hidden ! important} /* google */
 
/* ----- IMG SRC ----- */
 img[src*="b5-plugins"] {visibility: hidden ! important}
 IMG[SRC*=".msads."] {visibility: hidden ! important}
 IMG[SRC*="grouplotto"] {visibility: hidden ! important}
 
/* ----- FORM ACTION ----- */
form[action*="/donate/"] { visibility: hidden! important} /* various */
form[action*="pch.com"] { visibility: hidden! important} /* pub clearing house */
 form[action*="fastclick"] { visibility: hidden! important} /* fastclick */
 
/* ----- * MOVIE ----- */
 *[movie="banners"] {visibility: hidden ! important}
 
/* ----- LI CLASS ----- */
 li[class*="noBd"] {visibility: hidden ! important} /* zdnet */
 li[class*="yesBd"] {visibility: hidden ! important} /* zdnet */
 


#ra, #rb, .rh, #ip {display: none!important} /* gmail */
 
/* --- primary ------------------------------------------------------------ */
 
/* images: by size */
 a img[width="120"][height="240"] {visibility: hidden ! important}
 a img[width="120"][height="600"] {visibility: hidden ! important}
 a img[width="125"][height="125"] {visibility: hidden ! important}
 a img[width="125"][height="300"] {visibility: hidden ! important}
 a img[width="125"][height="600"] {visibility: hidden ! important}
 a img[width="150"][height="100"] {visibility: hidden ! important}
 a img[width="150"][height="600"] {visibility: hidden ! important}
 a img[width="160"][height="600"] {visibility: hidden ! important}
 a img[width="180"][height="150"] {visibility: hidden ! important}
 a img[width="234"][height="60"] {visibility: hidden ! important}
 a img[width="210"][height="500"] {visibility: hidden ! important}
 a img[width="300"][height="125"] {visibility: hidden ! important}
 a img[width="300"][height="250"] {visibility: hidden ! important}
 a img[width="336"][height="280"] {visibility: hidden ! important}
 a img[width="380"][height="200"] {visibility: hidden ! important}
 a img[width="468"][height="60"] {visibility: hidden ! important}
 a img[width="470"][height="62"] {visibility: hidden ! important}
 a img[width="728"][height="90"] {visibility: hidden ! important}
 a img[width="730"][height="92"] {visibility: hidden ! important}
 
/* plugins: by size */
 /* Blocks IMAGES and FLASH */
 /* FLASH responds to VISIBILITY:HIDDEN under WebKit */
 embed[width="120"][height="240"] {visibility: hidden ! important}
 object[width="120"][height="240"] {visibility: hidden ! important}
 embed[width="120"][height="600"] {visibility: hidden ! important}
 object[width="120"][height="600"] {visibility: hidden ! important}
 embed[width="125"][height="300"] {visibility: hidden ! important}
 object[width="125"][height="300"] {visibility: hidden ! important}
 embed[width="125"][height="600"] {visibility: hidden ! important}
 object[width="125"][height="600"] {visibility: hidden ! important}
 embed[width="150"][height="100"] {visibility: hidden ! important}
 object[width="150"][height="100"] {visibility: hidden ! important}
 embed[width="150"][height="600"] {visibility: hidden ! important}
 object[width="150"][height="600"] {visibility: hidden ! important}
 embed[width="160"][height="600"] {visibility: hidden ! important}
 object[width="160"][height="600"] {visibility: hidden ! important}
 embed[width="180"][height="150"] {visibility: hidden ! important}
 object[width="180"][height="150"] {visibility: hidden ! important}
 embed[width="210"][height="500"] {visibility: hidden ! important}
 object[width="210"][height="500"] {visibility: hidden ! important}
 embed[width="234"][height="60"] {visibility: hidden ! important}
 object[width="234"][height="60"] {visibility: hidden ! important}
 embed[width="300"][height="125"] {visibility: hidden ! important}
 object[width="300"][height="125"] {visibility: hidden ! important}
 embed[width="300"][height="250"] {visibility: hidden ! important}
 object[width="300"][height="250"] {visibility: hidden ! important}
 embed[width="336"][height="280"] {visibility: hidden ! important}
 object[width="336"][height="280"] {visibility: hidden ! important}
 embed[width="380"][height="200"] {visibility: hidden ! important}
 object[width="380"][height="200"] {visibility: hidden ! important}
 embed[width="468"][height="60"] {visibility: hidden ! important}
 object[width="468"][height="60"] {visibility: hidden ! important}
 embed[width="468"][height="70"] {visibility: hidden ! important}
 object[width="468"][height="70"] {visibility: hidden ! important}
 embed[width="470"][height="62"] {visibility: hidden ! important}
 object[width="470"][height="62"] {visibility: hidden ! important}
 embed[width="728"][height="90"] {visibility: hidden ! important}
 object[width="728"][height="90"] {visibility: hidden ! important}
 embed[width="728"][height="100"] {visibility: hidden ! important}
 object[width="728"][height="100"] {visibility: hidden ! important}
 embed[width="728"][height="200"] {visibility: hidden ! important}
 object[width="728"][height="200"] {visibility: hidden ! important}
 embed[width="730"][height="92"] {visibility: hidden ! important}
 object[width="730"][height="92"] {visibility: hidden ! important}
 
/* iframes: by size */
 iframe[width="120"][height="600"] {visibility: hidden ! important}
 iframe[width="125"][height="300"] {visibility: hidden ! important}
 iframe[width="125"][height="600"] {visibility: hidden ! important}
 iframe[width="150"][height="100"] {visibility: hidden ! important}
 iframe[width="150"][height="600"] {visibility: hidden ! important}
 iframe[width="160"][height="600"] {visibility: hidden ! important}
 iframe[width="180"][height="150"] {visibility: hidden ! important}
 iframe[width="210"][height="500"] {visibility: hidden ! important}
 iframe[width="234"][height="60"] {visibility: hidden ! important}
 iframe[width="300"][height="125"] {visibility: hidden ! important}
 iframe[width="300"][height="250"] {visibility: hidden ! important}
 iframe[width="336"][height="280"] {visibility: hidden ! important}
 iframe[width="380"][height="200"] {visibility: hidden ! important}
 iframe[width="468"][height="60"] {visibility: hidden ! important}
 iframe[width="470"][height="62"] {visibility: hidden ! important}
 iframe[width="600"][height="120"] {visibility: hidden ! important}
 iframe[width="728"][height="90"] {visibility: hidden ! important}
 iframe[width="728"][height="100"] {visibility: hidden ! important}
 iframe[width="728"][height="200"] {visibility: hidden ! important}
 iframe[width="730"][height="92"] {visibility: hidden ! important}
 

/* --- miscellaneous ------------------------------------------------------ */
 
a.adHeadline {visibility: hidden ! important} /* adbrite.com */
 a[name*="klipad"] img { display: none !important}
 a[alt*="advert"] img {visibility: hidden ! important}
 
object#widgeth {visibility: hidden ! important}
 span.ad {visibility: hidden ! important}
 
table#RefAd {visibility: hidden ! important}
 table[background*="advertising.com"] {visibility: hidden ! important}
 
form[action*="doubleclick.net"] {visibility: hidden ! important}
 
div#awin {visibility: hidden ! important}
 div#adstrip {visibility: hidden ! important}
 div#adbox {visibility: hidden ! important}
 
div#dcv_EchangeLay {visibility: hidden ! important}
 div#yschsec {visibility: hidden ! important}
 div.ovt {visibility: hidden ! important}
 
iframe#adFrame {visibility: hidden ! important}
 iframe#splashFrame {visibility: hidden ! important}
 
div#adv160x600r {visibility: hidden ! important}
 div#adv180x150m {visibility: hidden ! important}
 div#adv180x150r {visibility: hidden ! important}
 div#adv180x150rb {visibility: hidden ! important}
 div#OAS-titolo-vetrina {visibility: hidden ! important}
 

iframe#google_ads_frame {visibility: hidden ! important} /* google: general */
 div#googleadb {visibility: hidden ! important}
 
div.c.xs#ad {visibility: hidden ! important}
 div#co div#rh.rhs[style] {visibility: hidden ! important} /* google: gmail */
 
span#konteraElements > * {visibility: hidden ! important}
 div#konaLayers {visibility: hidden ! important} /* Kontera */
 
span#iTt {visibility: hidden ! important} /* IntelliTXT */
 
div#mntl {visibility: hidden ! important}
 div#quack {visibility: hidden ! important}
 div[id*="sponsor"] {visibility: hidden ! important} /* yahoo, general */
 
div#splashLayer {visibility: hidden ! important}
 div.showcase A.scLink {visibility: hidden ! important} /* from floppymoose.com */
 
div#AD {visibility: hidden ! important}
 div[id^="AD"][style^="position:absolute;"] {visibility: hidden ! important} /* lycos */
 
div#spons {visibility: hidden ! important} /* altavista */
 
div#overture {visibility: hidden ! important} /* nfl.com general */
 
div#dwindow {visibility: hidden ! important}
 div#topmsg {visibility: hidden ! important} /* dynamicdrive.com */
 
div#dropin[style^="position:absolute;visibility:h"] {visibility: hidden ! important}
 
div#cache {visibility: hidden ! important} /* asp.flaaten.dk */
 
div#xad {visibility: hidden ! important} /* proboards22.com */
 
div#floatpop {visibility: hidden ! important} /* lyrics007.com */
 
div#warning[style*="visibility:"] {visibility: hidden ! important} /* adblock.org ;) */
 
div#elementDiv.welcomemat {visibility: hidden ! important} /* linux.sys-con.com */
 
div#AdLayer {visibility: hidden ! important} /* falkag.net */
 
div#catfish {visibility: hidden ! important}
 div#adcontent {visibility: hidden ! important} /* sitepoint.com */
 
div.VBannerAd {visibility: hidden ! important}
 div.YourAdHere {visibility: hidden ! important} /* flickr.com */
 
div#externals {visibility: hidden ! important}
 div#text-ads {visibility: hidden ! important} /* technorati.com */
 
div.ad {visibility: hidden ! important}
 div.ads {visibility: hidden ! important} /* 43things.com */
 
div#btmad {visibility: hidden ! important} /* sourceforge.net */
 
div#popinads {visibility: hidden ! important} /* popinads.com */
 
div#ads {visibility: hidden ! important}
 div#ads2 {visibility: hidden ! important}
 span#adwithus {visibility: hidden ! important} /* bugbash.net */
 
div#dynamicAdWinDiv {visibility: hidden ! important} /* forbes.com */
 
div[id^="aws_"] {visibility: hidden ! important} /* 50megs.com */
 
div.adcnt {visibility: hidden ! important} /* geocities.com */
 
div#footerAds {visibility: hidden ! important}
 div#homeRightAd {visibility: hidden ! important} /* macworld.com */
 
table.leftadbody {visibility: hidden ! important}
 td.leftadhead {visibility: hidden ! important} /* wunderground.com */
 
div#ads_topC {visibility: hidden ! important}
 div#ads_bottomC {visibility: hidden ! important} /* search.msn.com (mgb) */
 
div[id^="sponLink"] {visibility: hidden ! important}
 div[id^="gca_sidebar"] {visibility: hidden ! important} /* iwon.com */
 
iframe[name="kanoodleAd"] {visibility: hidden ! important} /* imdb.com */
 
div#adPaneRight {visibility: hidden ! important} /* live.com */
 
div[id^="phpads"] {visibility: hidden ! important} /* dvd2svcd.doom9.net */
 
div[id^="advert"] {visibility: hidden ! important} /* cbc.ca */
 
div#ad-blocking-makes-fella-sad {visibility: hidden ! important} /* deviantart */
 
a.iAs[itxtdid] {text-decoration: none; border-bottom: none !important} /* minimize the appearance of IntelliTXT ads */
 
a.kLink[href="#"] { text-decoration: none !important} /* minimize the appearance of Kontera ads */
 span.kLink { border-bottom: none !important}
 
/* --- questionable (should probably identify and (re)move unless common) --- */
 
iframe[src^="/get_ad.php?"] {visibility: hidden ! important} /* geocities */
 
iframe[src^="/sponsored-results"] {visibility: hidden ! important} /* babelfish */
 
iframe[src^="/google/box?"] {visibility: hidden ! important} /* google */
 
iframe[src*="contentsearch.de.espotting.com"] {visibility: hidden ! important} /* heise.de */
 
iframe[src*="industrybrains.com"] {visibility: hidden ! important}
 iframe[src*="BET365"] {visibility: hidden ! important}
 
iframe[name="bsadframe"] {visibility: hidden ! important}
 iframe[src*="advert"] {visibility: hidden ! important}
 
table table table[width="346"][height="280"] {visibility: hidden ! important}
 table[border="0"][cellpadding="1"][cellspacing="0"][width="626"][bgcolor="#6699cc"] {visibility: hidden ! important}
 table[bordercolor="red"][height="225"][cellspacing="0"][cellpadding="0"][width="190"][bgcolor="white"][border="0"] {visibility: hidden ! important}
 table[width="336"][border="0"][cellspacing="0"][cellpadding="0"][align="right"][style="margin-left: 10px; margin-bottom: 10px;"] {visibility: hidden ! important}
 td[style="border-bottom: 1px solid rgb(204, 204, 204); padding: 7px 3px; background-color: rgb(255, 254, 249);"] {visibility: hidden ! important}
 

/* Added by Web-JIVE */ 
table[id="main_amazon"] { display: none !important; }     /* Apple Insider */ 
table[id="aadbox"]{ display: none !important; }        /* MacUpdate */ 
table[bgcolor="#8b8ba2"][width="180"][align="center"]{ display: none !important; }        /* Apple Site */ 


/* ----- FALSE POSITIVES ----- */ 
div#dropin[class="dropin"] {visibility: visible ! important}
 div#dropincontent[class="dropincontent"] {visibility: visible ! important}
 div.dropinheader {visibility: visible ! important} /* GoDaddy Control Panel */
body[*] {visibility: visible ! important} /* macupdate */
 div[class*="br "] {visibility: visible ! important} /* apple.com */
 div[class*="pad"] {visibility: visible ! important} /* apple.com */
 div[class*="bodypad"] {visibility: visible ! important} /* groups.yahoo.com */
 a:link[href*="threads."] {visibility: visible ! important} /* whirlpool.net.au */
 A:link[HREF*="javascript:void"] img[src*="images/new/butt"] { display:inline ! important } /* fastweb */
A:link[HREF*="javascript:void"] img[src*="/public/gallerie_foto"] { display:inline ! important } /* hi-pro */
A:link[HREF*="javascript:void"] img[src*="photobucket"] { display:inline ! important } /* photobucket */
 td[class*="malltextblack"] {visibility: visible ! important} /* US Mint */
 
/* google: www, images, news, groups, froogle */
 body[onload^="document.gs.reset()"] div.n a[href^="/search?q="] img,
 body[onload^="document.gs.reset()"] div.n a[href^="/images?q="] img,
 body[onload^="document.gs.reset()"] a[href^="/imgres?imgurl="] img,
 body[onload^="document.gs.reset()"] div.n a[href*="/news?q="] img,
 body[onload="sf()"] a[href^="/groups?q="] img,
 a img[src^="/froogle_image?q="] {visibility: visible ! important}
 
/* yahoo images (via google) */
 a img[src*="images.google.com/images?q="] {visibility: visible ! important}

/* Added by Web-JIVE */
div[class*="bb"] {visibility: visible ! important}  /* fix false positive for my.yahoo.com */

/* alltheweb.com: images */
 a[href*="click.alltheweb.com/go"] img[src*="fastsearch.net"] {visibility: visible ! important}
 
/* foxnews.com videos */
 div#video object embed[src*="/ads"][src*="foxnews.com"] {visibility: visible ! important}
 
/* imdb.com: posters/headshots linking fullpage interstitial ads.
 annoying, but the image should be displayed anyway. */
 a[href*="imdb.com/ad/?id="] img[src*="imdb.com/media/"] {visibility: visible ! important}
 
/* happymany.be navigation, other ADSL-related links */
 a[href*="/adsl"] img, *[src*="/adsl"] {visibility: visible ! important}
 
/* internet banking toolbar images on aib.ie (thanks David) */
 @-moz-document url-prefix(https://internetbanking.aib.ie/)
 {
 a[href*="/banner"] img, *[src*="/banner"] {visibility: visible ! important}
 }
 
/* Advizia product information */
 a[href*="/advizia"] img, *[src*="/advizia"] {visibility: visible ! important}
 
/* RottenTomatoes */
 a img[width="25"][height="25"], *[src*="/tomatoes/"] {visibility: visible ! important}
 
/* CNN */
 div[class*="cnnPad"], *[id*="cnnT2"] {visibility: visible ! important}
 
/* wikipedia */
 div[class*="fullImageLink"], *[id*="file"], *[src*="wikimedia"] {visibility: visible ! important}
 
/* youtube */
 embed[id="hpPVA"] {visibility: visible ! important}
 div[id*="NoSkyscraper"] {visibility: visible ! important}
 
/* widescreen centre */
 a img[src*="butt_basket"] {visibility: visible ! important}
 
/* polanoid.net */
 a img[src*="/pix/"] {visibility: visible ! important}
 
/* google */
 a:link[class="l"] {visibility: visible ! important}
 
a img[class*="picMugshot"] {visibility: visible ! important} /* tribe.net */
 a img[src*="/photogallery/"] {visibility: visible ! important}
 a img[src*="tile-sell-here"] {visibility: visible ! important}
 a img[src*="bookmooch.com/robot/"] {visibility: visible ! important}
 
A:link[HREF*="wikimedia"] IMG {visibility: visible ! important}
 A:link[HREF*="/add"] IMG {visibility: visible ! important}
 A:link[HREF*="/adsl"] IMG {visibility: visible ! important}
 A:link[HREF*="thread."] IMG {visibility: visible ! important}
 A:link[HREF*="download."] IMG {visibility: visible ! important}
 A:link[HREF*="downloads."] IMG {visibility: visible ! important}
 A:link[HREF*="netflix.com/AddToQueue"] IMG {visibility: visible ! important}
 A:link[HREF*="load."] {visibility: visible ! important}
 A:link[HREF*="loads."] {visibility: visible ! important}
 IFRAME[SRC*="load."] {visibility: visible ! important}
 IFRAME[SRC*="loads."] {visibility: visible ! important}
 div[class*="ccacmpad1"] {visibility: visible ! important}
 A:link[HREF*="click.mp3"] IMG {visibility: visible ! important}

/* deviant art (partial, galleries and user page renders bad, need help there)*/
span[class="shadow"] a[href*="deviantart"] img[src*="deviantart"][width*=""][height*=""] {visibility: visible ! important}

/* manfrotto lessons are useful! */
a[href*="webdav/site/manfrotto"] img[src*="140x"] {visibility: visible ! important}

/* ----- FALSE NEGATIVES ----- */ 

 div[style*="display:none;"] {visibility: hidden ! important} /* youtube & google groups */

/* ------------------------------------------------------------------------ */
 
/* --- NOTES --- */
 /* object[codebase*="flash"] */
 /* Identifies all flash elements */
 
/* flash responds to the following settings in Safari 3beta */
 /* { visibility: hidden ! important}*/
 /* { border: double thick red; max-height: 5px; max-width: 5px; overflow: hidden ! important} */ 

